* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

html,
body {
  font-family: "Roboto";
  font-weight: 400;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
}

h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;

}

button {
  display: block;
  background: #34547a;
  color: white;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  border: none;
  cursor: pointer;
}

input {
  background: #ffffff;
  border: none;
  height: 50px;
}

p {
  font-size: 16px;
  color: #727272;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #eeeff1;
  padding-bottom: 172px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 70px;
}

.header__icon {
  width: 96px;
  height: 45px;
}

.header__navigation {
  display: flex;
  align-items: center;
  gap: 42px;
}

.header__navigation__link {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.design__img {
  padding-top: 30px;
}

.design {
  background-color: #eeeff1;
}

.design__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.design__text-block {
  margin: 50px 0;
  width: 475px;
  line-height: 26px;
}

.design__button {
  margin-bottom: 144px;
  width: 225px;
  height: 65px;
  font-size: 16px;
  line-height: 26px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 534px;
}

.about-me__title {
  margin-top: 122px;
  margin-bottom: 40px;
}

.about-me__text-block {
  text-indent: 20px;
  width: 526px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 99px;
}

.project {
  display: flex;
  justify-content: center;
  background-color: #34547a;
  padding: 99px 0px;
  flex-wrap: wrap;
  grid-gap: 30px;
}

.project__img {
  width: 141px;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 187px 0px 139px 0px;
  margin: 0 auto;
}

.skills__title {
  margin-bottom: 47px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.55));
}

.skills__text-block__elem {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.55));
}

.skills__avatar {
  width: 555px;
  height: 450px;
  padding-left: 139px;
}

.gray-band {
  position: relative;
  width: 445px;
  height: 4px;
  background: #c4c4c4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.blue-band {
  position: absolute;
  width: 70%;
  height: 4px;
  background: #34547a;
}

.skills__text-block {
  margin-right: 139px;
}

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 534px;
  background-color: #eeeff1;
  padding-bottom: 98px;
}

.process__title {
  padding-top: 108px;
}

.process__text-block {
  text-indent: 20px;
  width: 527px;
  line-height: 26px;
  text-align: center;
  padding: 40px 0;
}

.process__video {
  position: relative;
  width: 50%;
  max-width: 1000px;
}

.process__video__image {
  display: block;
  width: 100%;
  height: auto;
}

.video__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.video__overlay__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.process__video:hover .video__overlay {
  opacity: 1;
  cursor: pointer;
}

.pictures {
  background: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.picture__wrapper {
  position: relative;
  width: 100%;
}

.picture {
  width: 100%;
  height: 100%;
}

.picture__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background: linear-gradient(0deg,
      rgba(52, 84, 122, 0.8),
      rgba(52, 84, 122, 0.8));
}

.picture__overlay_icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.picture__wrapper:hover .picture__overlay {
  opacity: 1;
  cursor: pointer;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 534px;
  background-color: #eeeff1;
  padding-bottom: 93px;
}

.contacts__text-block {
  text-indent: 20px;
  width: 527px;
  line-height: 26px;
  text-align: center;
  padding:50px 0;
}
.contacts__title{
  padding-top: 100px;
}

.contacts__forms__input {
  width: 540px;
  display: flex;
  justify-content: space-between;
  grid-gap: 20px;
}

.form__input {
  border: none;
  width: 100%;
  height: 50px;
}

input::placeholder {
  width: 94px;
  height: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #5f5d5d;
  cursor: pointer;
}

.contacts__form__textarea {
  padding-top: 20px;
  padding-left: 20px;
  border: none;
  margin-top: 18px;
  margin-bottom: 51px;
  width: 520px;
  height: 175px;
  background: #ffffff;
  resize: none;
}

textarea::placeholder {
  width: 102px;
  font-size: 14px;
  line-height: 23px;
  color: #5f5d5d;
  cursor: pointer;
}

.contacts__button {
  width: 190px;
  height: 55px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #34547a;
  padding: 50px 0px;
}

.footer__text-block {
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer__name {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  padding-bottom: 16px;
  color: #ffffff;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}

.footer__link__icon {
  width: 44px;
  height: 40px;
}

.footer__link {
  width: 176px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1300px) {
  .skills {
    flex-direction: column-reverse;
    padding-left: 25px;
    padding-right: 25px;
  }

  .skills__text-block {
    margin-right: 0px;
  }

  .skills__avatar {
    padding: 0px 0px 100px 0px;
  }

  .skills__title {
    text-align: center;
  }

  .header__wrapper {
    justify-content: space-around;
    grid-gap: 30px;
  }

}


@media (max-width: 1000px) {
  .contacts__forms__input {
    grid-gap: 10px;
  }

  .project__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
  }

  .design__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .design__text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
  }

  .design__text-block {
    text-align: center;
  }

  .skills__avatar {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 700px) {
  .project__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }

  .project__img {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  .header__navigation {
    display: none;
  }

  .header__wrapper {
    justify-content: flex-start;
    padding-left: 100px;
  }

  .design__text-block,
  .about-me__text-block,
  .process__text-block,
  .contacts__text-block {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .design__text-content,
  .about-me,
  .process {
    padding-left: 30px;
    padding-right: 30px;
  }

  form {
    width: 100%;
  }

  .contacts {
    width: 100%;
  }
  .contacts__text-content{
    width: 95%;
  }

  .contacts__forms__input {
    width: 540px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: center;
    width: 100%;
  }

  .form__input {
    width: 90%;
  }

  .contacts__form__textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  .pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .skills__text-block {
    width: 100%;
    padding: 25px;
  }

  .gray-band {
    width: 100%;
  }

  .process__video {
    width: 80%;
  }

  .wrapper__picture3 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .wrapper__picture4 {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .wrapper__picture5 {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .wrapper__picture6 {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media(max-width:480px) {
  .design__img {
    width: 298px;
    height: 195px;
  }

  h1 {
    font-size: 36px;
  }

  .design__text-block,
  .about-me__text-block,
  .process__text-block,
  .contacts__text-block {
    font-size: 16px;
    width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer__link{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
  }
}